body {
    background-color: blueviolet;
}

#tahvel, #desktop {
    display: none;
}

@media screen and (min-width: 480px) {
    body {
        background-color: brown;
    }
    #tahvel {
        display: block;
    }
    #mobiil, #desktop {
        display: none;
    }
}

@media screen and (min-width: 970px) {
    body {
        background-color: rgb(42, 61, 165);
    }

#desktop {
    display: block;
    }


#mobiil, #tahvel {
    display: none;
    }

}