body {
    font-family: 'Montserrat', sans-serif;  
    padding-top: 31.94px; 
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}


.pilt {
    width: 100%;
    padding-bottom: 20px;
}

#sisu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.uudis-konteiner {
    width: 30%;
    padding-bottom: 30px;
    padding-right: 20px;
}

.tutvu {
    background-color: rgb(3, 0, 3);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 25px;
}

* {
    box-sizing: border-box;
}  



.paiskonteiner {
    background-image: url('./Pildid/Hills.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 778px;
    width: 100%;
    padding-top: 31.94px;
}

.pais-logo {
    height: 73px;
    width: 75.72px;
    letter-spacing: 0px;
    color: #0B0B0B;
}

.pais-nimi {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100px;
    line-height: 33px;
}

.pais-menyy {
    font-family: 'Montserrat', sans-serif;
    font-size: 16.67px;
	font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 2.67px;
    margin-left: auto;
}

.pais-menyy a {
    color: #0B0B0B;
}

.pais-menyy ul {
    justify-content: flex-end;
    list-style-type: none;
}

.pais-menyy li {
    padding: 0px;
    margin-left: 10px;
    min-width: 100px;
}

h2 {
    padding-bottom: 15px;
    font-weight: bolder;
}